@import 'color.scss';
@import 'font.scss';
@import 'resetcss.scss';


.loader{
  display: block;
  background: #333;
  transition: 0.3s ease-in-out;
  width: 100%;
  height: 100vh;
  z-index: 99999;
  position: fixed;
  top: 0;
}
.container-fluid{
  width: 100%;
  margin: 0;
}
.container{
  width: 1407px;
  margin: 0 auto;
}
.row{
  display: flex;
}
.grid{
  display: grid;
}
.temp-2-col{
  grid-template-columns: 1fr 1fr;
}
.temp-2fr-col{
  grid-template-columns: 2fr 1fr;
}
.temp-0-row{
  grid-template-rows: 0fr;
}
.align-center{
  align-items: center;
}
.align-baseline{
  align-items: baseline;
}
.justify-center{
  justify-content: center;
}
.hero-heading{
  font-size: 75px;
  font-family: $semibold;
}
.sub-hero-heading{
  font-weight: 500;
  line-height: 2.20;
  margin: 0 0;
}
.w-100{
  width: 100% !important;
}
.w-90{
  width: 90% !important;
}
.w-93{
  width: 93% !important;
}
.float-left{
  float: left;
}
.float-right{
  float: right;
}
.bg-heading{
  position: absolute;
  h1{
    font-size: 540px;
    color: $blue;
    opacity: 0.1;
    margin: 0;
  }
}
.relative{
  position: relative;
}
.absolute{
  position: absolute;
}
.top-30{
  top: -30px;
}
.mt-50{
  margin-top: 50px;
}
.mt-60{
  margin-top: 120px;
}
.mt-70{
  margin-top: 70px;
}
.mt-90{
  margin-top: 90px;
}
.text-box{
  border: 1px solid $black;
  border-radius: 6px;
  height: 80px;
  width: 86%;
  padding: 0 20px;
  &::placeholder{
    color: $grey;
  }
}
textarea{
  padding: 20px 20px !important;
  height: 200px !important;
}
.btn-box{
  margin-top: 60px;
}
.cn-btn-box{
  float: right;
  margin: 60px 50px 60px 0px;
}
.button{
  padding: 20px 60px;
  background: $blue;
  color: $white;
  border-radius: 6px;
}
.border-button{
  padding: 20px 60px;
  border:2px solid $blue;
  color: $blue;
  border-radius: 6px;
  transition: 0.3s ease-in-out;
}
.border-button:hover{
  transition: 0.3s ease-in-out;
  background: $blue;
  color: $white;
}
.text-right{
  text-align: right;
}
.c-blue{ color: $blue;}
.c-white{ color: $white; }
.c-black{ color: $black; }
.c-grey{ color: $grey; }

//NAVIGATION
.navigation-ul {
  justify-content: space-evenly;
  align-items: center;
  position: relative;
  li{
    a{
      font-size: 18px;
      transition: 0.2s ease-in-out;
      &:hover{
        transition: 0.3s ease-in-out;
        color: $blue;
      }
    }
    
  }
}
ul.navigation-ul li:first-child::before{
  content: '';
  position: absolute;
  border-bottom: 1px solid #333;
  left: 0;
  width: 16%;
  height: 4px;
}
ul.navigation-ul li:last-child::after{
  content: '';
  position: absolute;
  border-bottom: 1px solid #333;
  right: 0;
  width: 13%;
  height: 4px;
}


//HERO
.hero-section{
  margin-top: 100px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  .hero-left{
    img{
      width: 80%;
      position: relative;
    }
  }
  .hero-right{
    margin: 50px 0 0 0;
    h1{
      position: relative;
      &:first-child::before{
        content: '';
        position: absolute;
        border-bottom: 3px solid $black;
        width: 20%;
        left: -25%;
        top: 50%;
      }
      &:nth-child(2){
        color: $blue;
        font-weight: 500;
      }
    }
    h3{
      font-weight: 500;
      line-height: 2.20;
      margin: 60px 0;
    }
    .social-row{
      align-items: center;
      padding: 0;
      li{
        a{
          border: 2px solid $blue;
          border-radius: 50px;
          margin: 0 10px 0 0px;
        }
        .fb-head{
          padding: 22px 16px 5px 17px;
        }
        .linkedin-head{
          padding: 21px 12px 8px 12px;
        }
        .behance-head{
          padding: 19px 11px 10px 10px;
        }
        .insta-head{
          padding: 22px 10px 5px 10px;
        }
      }
    }
  }
  .quote-right{
    align-items: center;
    h1{
      line-height: 2.20;
      font-family: $regular;
      font-size: 38px;
      color: $black;
      text-align: center;
    }
    h3{
      color: $blue;
      font-weight: 500;
    }
  }
}

//RECENT WORK
.recent-work{
  position: relative;
  margin-top: 400px;
  .bg-heading{
    left: -19%;
  }
  .work{
    h1{
      text-align: right;
      width: 28%;
      &:before{
        content: '';
        position: absolute;
        border-bottom: 1px solid #333;
        width: 20%;
        left: 0;
      }
    }
    .project-box{
      margin: 200px 0px;
      transition: 0.3s ease-out;
      .project-content{
        .project{
          margin: 0 0 200px 0;
          img{}
          h2{
            margin: 50px 0 30px;
            font-family: $bold;
            color: $blue;
            font-size: 32px;
          }
          p{
            width: 50%;
            line-height: 2.20;
            margin-top: 0;
          }
          a{
            &:hover{
              text-decoration: underline;
            }
          }
        }
      }
    }
  }
}


//WORK
.coming-soon{
  text-align: center;
  border: 1px solid;
  padding: 42px;
  width: 50%;
  margin: 210px auto;
  color: $blue;
  h1{

  }
  p{
    margin: 50px 0px 0px 0;
  }
}

//STORY
.story-heading{
  h1{
    &::before{
      content:'';
      display: none !important;
    }
  }
}
.story{
  .story-sec{
    margin: 400px 0;
    .right-sec{
      img{
        width: 100%;
      }
    }
    .left-sec{
      h1{
        line-height: 1.5;
        margin: 0;
      }
      h3{
        font-weight: 500;
        line-height: 2.20;
        margin: 20px 0;
      } 
    }
  }
}

//CONTACT
.contact{
  margin-top: 100px;
  form{
    .form-box{
      .textbox-container{
        position: relative;
        display: grid;
        grid-template-columns: 1fr 1fr;
        label{
          position: absolute;
          top: -30px;
          left: 0;
        }
      }
    }
  }
}

//FOOTER
.footer{
  margin-top: 278px;
  padding: 40px 0px;
  background: $blue;
  color: $white;
  .footer-box{
    display: grid;
    grid-template-columns: 1fr 1fr;
    h3{
      font-size: 22px;
    }
    h1{
      margin: 30px 0 60px 0;
    }
    ul{
      padding: 0;
      margin: 22px 0 0;
      li{
        display: flex;
        padding: 0 0 26px 0;
        a{
          color: $white;
        }
      }
    }
    a{
      color: $white;
      img{
        max-width: 100%;
      }
    }
  }
}

//BACK BTN
.back-btn{
  position: fixed;
  top: 5%;
  left: 3%;
  a{
    font-size: 22px;
    font-family: $medium;
    display: flex;
    align-items: baseline;
    img{
      padding: 0 10px 0 0;
      transition: 0.3s ease-in;
    }
    &:hover img{
      padding: 0 15px 0 0;
      transition: 0.3s ease-out;
    }
  }
}
@media (min-width: 360px) and (max-width: 375px){

}

@media (min-width: 376px) and (max-width: 413px){

}
 
@media (min-width: 414px) and (max-width: 767px){

}

@media (min-width: 768px) and (max-width: 991px){

}

@media (min-width: 992px) and (max-width: 1199px){

}

@media (min-width: 1200px) and (max-width: 1400px){

}
 