@import 'color.scss';
@import 'font.scss';
@import 'resetcss.scss';


.container-fluid{
    width: 100%;
    margin: 0;
}
.container{
    width: 1407px;
    margin: 0 auto;
}
.row{
    display: flex;
}
.grid{
    display: grid;
}
.temp-2-col{
    grid-template-columns: 1fr 1fr auto;
}